.box {
  width: 500px;
  min-height: 100px;
  border: 1px solid #000;
  background-color: bisque;
}
.box .heading h1 {
  padding: 10px;
}
.box .info p {
  padding: 10px;
  text-align: justify;
}
.textFormat {
  font-size: 18px;
}
.textColor {
  color: red;
}

h1,
h2 {
  color: royalblue;
}
